[Desktop Entry]
Version=1.0
Name=AlienFX
Comment=AlienFX
Exec=python /opt/alienfx/alienfx-gui.py
Path=/opt/alienfx/
Icon=AlienLogoDarkIcon
Terminal=false
Type=Application
Categories=Utility;Application;